$primary: #003B6D;
$secondary: #676767;
// $success: #65ff9f;
$info: #6699CC;
// $warning: #ff9f65;
// $danger: #ff457b;
// $dark: #18181d;

$orange: #FFB661;
$light-orange: #FFDF7B;

$body-bg: #FFFFFF;
$body-color: #1E1E1E;
$other-color: #6C6C6C; // need to label these better

$enable-cssgrid: false;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// @import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import './components/breakpoints.scss';
@import './components/button.scss';
@import './components/nav.scss';
@import './components/form.scss';
// $body-color: red;

html, body {
  height: 100vh;
}



section {
  
  // @include media("<=phone") {
  //   border:5px solid lightseagreen;
  //   //font-size: 3.5rem;
  // }
  // @include media(">phone") {
  //   border:5px solid purple;
  //   // font-size: 2rem;
  //   // margin: 20px 20px!important;
  // }
  // @include media(">=815px", "<desktop") {
  //   border:5px solid green;
  // }

  @include media(">=desktop") {
    // border:5px solid #fab;
    margin: 100px 100px!important;
    padding: 25px 25px;
  }
  & p {
    font-size: 1.2em;

  }
}

.section-title {
  font-size: 2em;
  color: $primary;
}


.section-intro {
  font-size: .7em;
}

.hero-wrapper {
  position: relative;
}

.hero-logo-img {
  position: absolute;
  max-width: 105px;
  max-height: 105px;
  width: 30%;
  bottom: 70%;
  left: 90%;
  z-index: -1;
  opacity: .5;

}


.hero-img-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  @include media("<768px") {
    // border:5px solid purple;
    margin-top: 100px;
  
  }
}
.pug-wrapper{
  position: relative;
  min-height: 203px;
  min-width: 152px;
  width:40%;
  left: 10%;
  top: -5em;
  height: auto;
  @include media("<768px") {
    // border:5px solid purple;
    //left: 0;
  
  }
  
}

#sparkles1 {
  position: relative;
  max-width: 70px;
  max-height: 74px;
  z-index: 3;
  width:100%;
  top: 100px;
  // width: 20%;
}

.pug-img {
  position: relative;
  min-height: 203px;
  min-width: 152px;
  width:100%;
  height: auto;
  // left: 5%;
  
  z-index: 1;
  // max-height: 414px;
  // max-width: 325px;
  border-radius: 2000px;
  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $orange,
  14px 10px 0 0px $orange,
  10px 10px 0 0px $orange;
  
  @include media("<=phone") {

  }

  @include media(">phone") {

  }

  @include media(">=815px", "<desktop") {
   
  }

  @include media(">=desktop") {
    // border:5px solid #fab;
    max-height: 414px;
    max-width: 325px;
    
  }

}

.pug-outline {
  position: relative;
  min-height: 203px;
  min-width: 152px;
  width:100%;
  height: 100%;
  border: 1px solid red;
  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $light-orange,
  14px 10px 0 0px $light-orange,
  10px 10px 0 0px $light-orange;
  // outline-offset: 15px;
  border-radius: 2000px;
}

.pug-shape {
  position: relative;
 
  min-height: 203px;
  min-width: 152px;
  width:40%;
  z-index: -1;
  left: -6em;

  @include media(">=desktop") {
    
  }
  
}


#paw1 {
  position: relative;
  max-width: 69.2px;
  max-height: 51.74px;
  z-index: 3;


  // need one for big screens and for smaller screens
  @include media(">=815px", "<desktop") {
    // border:5px solid green;
  }

  @include media(">=desktop") {
    // border:5px solid #fab;
    // top: -0;
    // left: -8em;
  }
  
}

#paw2 {
  position: relative;
  max-width: 110.8px;
  max-height: 82.84px;

  z-index: 3;
 
  top: 1em;
  left: 0.8em;

}


.cat-wrapper {
  position: relative;
  width:40%;
  left: 10%;
  
}
.cat-img {
  position: relative;
  
  min-height: 148px;
  min-width: 148px;
  width:80%;
  height: auto;
  max-height: 303px;
  max-width: 303px;
  border-radius: 2000px;

  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $info,
  14px 10px 0 0px $info,
  10px 10px 0 0px $info;

  top: 3em;
  @include media("<=phone") {
    // border:5px solid lightseagreen;
   
  }

  @include media(">phone") {
    // border:5px solid purple;
  
  }

  @include media(">=815px", "<desktop") {
    // border:5px solid green;
 
  }

  @include media(">=desktop") {
    // border:5px solid #fab;

  }
}

.bunny-img {
  position: relative;
  // left: -240px;
  top: 1rem;
  // left: 8rem;
  min-height: 102px;
  min-width: 81px;
  width:40%;
  height: auto;
  max-height: 217px;
  max-width: 175px;
  border-radius: 2000px;
  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $orange,
  14px 10px 0 0px $orange,
  10px 10px 0 0px $orange;
  
}

#sparkle2 {
  position: relative;
  max-width: 34px;
  max-height: 37px;
  width: 40%;
  left: -1.2em;
  top: -1em;
}

// === homepage ====
.hero-title {
  color: $primary;
  @include media(">=desktop") {
    font-size: 2.8rem;
  }

  @include media(">=1200px") {
    font-size: 3.5rem;
  }

}
.slogan-text {
  color: $other-color;
  font-size: 1.3rem;
  font-style: italic;
}

.hero-text {
  font-size: 1.2rem;
  font-weight: bold;
}


// ==== Services Section ====
.services-wrapper {
  position: relative;
}

#paw-deco-img {
  position: absolute;
  max-width: 1174.75px;
  max-height: 198.11px;
  width: 100%;
  z-index: -1;
  right: 0;
  top: -100px;
}

#paw-trail-img {
  position: absolute;
  max-width: 1245px;
  max-height: 369.62px;
  width: 100%;
  
  z-index: -1;
 
  right: 0;
}

.cards-wrapper {

  // @include media("<=phone") {
  //   border:5px solid yellow!important;
  // }

  // @include media(">phone") {
  //   border:5px solid purple!important;
  // }
  // @include media(">=815px", "<desktop") {
  //   border:5px solid green;
  // }
  // @include media(">=desktop") {
  //   border:5px solid aqua;
    
  // }
  // position: relative;

}

.card {
  min-height: 278px!important;
  max-height: 278px!important;
  padding: 50px;
  font-size: .6em;
  font-weight: 600;
  
  & svg {
    width: 5em;
    height: 5em;
    max-width: 68px;
    max-height: 68px;

  }
}

// === About Us Section =====
.au-content-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
}

.dog-wrapper {
  position: relative;
  width:30%;
}

#blue-sparkles{
  position: relative;
  max-width: 84px;
  max-height: 96px;
  z-index: 2;
}

.dog-glasses-img {
  position: relative;
  min-height: 175px;
  min-width: 145px;
  width: 100%;
  height: auto;
  max-height: 569px;
  max-width: 470px;
  border-radius: 2000px;

  top: -2em;


  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $orange,
  14px 10px 0 0px $orange,
  10px 10px 0 0px $orange;
}

.au-content {
  position: relative;
  width: 80%;
  max-width: 746px;
}

.quote {
  position: relative;
  background-color: $info;
  font-size: 1rem;
  color: $body-bg;
  border-radius: 10px;
  padding: 25px;

  width: 100%;
  max-width: 839px;
  z-index: 2;
}

// === Contact page styling ====
.old-logo {
  position: relative;
  left: 80%;
  right: 0;
  top: 15%;
  min-width: 87.52px;
  width: 18%;
  max-width: 220px;
  z-index:2;
}


// ===== Adopt Section =====

.adopt-section {
  background: rgba(102, 153, 204, 1);
  border-radius: 10px;
  font-size: 1em;
  max-height: 928px;
  padding: 25px;
  @include media("<=767px") {
    max-height: 100%;
    
  }

  @include media("<=1023px") { // 760
    // max-height: 100%;
    margin-top: 200px;
  }
}

.adopt-title {
  font-size: 1.8em!important;
  //width: 50%;
}


.adopt-resource-wrapper {
  font-size: 1.2rem;
  position: relative;
  top: -18em;
  @include media("<=767px") {
    top: 0;

  }
  @include media(">=1500px") {
    top: -22em;

  }

}

.adopt-pic-wrapper {
  height: 30%;
  padding-top: 25px;
  position: relative;
  max-height: 140px;
}

#adopt-img {
  position: inherit;
  max-width: 344px;
  max-height: 427px;
  width: 12em;
  height: 14em;
  top: -150px;
  // height: 40%;
  border-radius: 1500px;
  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $orange,
  14px 10px 0 0px $orange,
  10px 10px 0 0px $orange;

}

#adopt-heart-circle {
  position: inherit;
  max-width: 40px;
  max-height: 40px;
  top: -30px;
  //width: 100%;
  z-index: 2;
  //left: 325px;
  //top: -100px;
}

.form-heading {
  max-height: 50px;
}

#contact-form-homepage {
  max-height: 808.91px;
  border-radius: 10px;
  padding: 20px;

  z-index: 1;
  @include media("<=767px") { // 760
    max-height: 100%;
  }
  
}
#homepage-old-logo {
  position: relative;
  // left: 80%;
  // right: 0;
  // top: 15%;
  min-width: 87.52px;
  width: 18%;
  max-width: 220px;
  z-index:2;
  top: -100px;
  right: 30px;

}


// === Animal Page ===
.animal-img-wrapper {
  position: relative;
  margin: 0;
  width: 100%;
  max-height: 644px;
  text-align: center;
  top: -50px;
  @include media("<=767px") { // 760
    top: 0;
    padding-bottom: 25px;
  }

}

.circle-item-1 {
  position: absolute;
  max-width: 70px;
  max-height: 70px;
  width: 15%;
  z-index: 2;
  top: 7em;
  left: -1.5%;
}

.circle-item-2 {
  position: absolute;
  max-width: 70px;
  max-height: 70px;
  width: 15%;
  z-index: 2;
  top: 80%;
  right: 1em;
}


.paw1 {
  position: absolute;
  max-width: 88.02px;
  max-height: 65.81px;
  width: 100%;
  top: 80%;
  left: -1em;
}

#corgi-img {
  position: inherit;
  max-width: 427px;
  max-height: 644px;
  border-radius: 2000px;
  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $orange,
  14px 10px 0 0px $orange,
  10px 10px 0 0px $orange;
  // width: 18%;
  width: 80%;
}

.paw2 {
  position: absolute;
  max-width: 67.74px;
  max-height: 50.65px;
  width: 100%;
  right: 1em;
  top: -20px;
}

.contact-banner {
  background-color: $info;
  border-radius: 10px;
  max-height: 287px;
  padding: 25px;

  @include media("<=524px") {
    max-height: 100%;
    flex-direction: column;
   
  }
}

.banner-img-wrapper {
  //border: 1px solid yellow;
  position: relative;
}

#blue-fade-sparkle {
  position: absolute;
  max-width: 59px;
  max-height: 66px;
  width: 100%;
  z-index: 3;

  left: -40px;
  top: -30px;
}

#schnouzer {
  position: relative;
  max-width: 235px;
  max-height: 353px;
  width: 8em;
  border-radius: 2000px;
  z-index: 2;

  box-shadow: 12px 8px 0 0px $info,
  14px 6px 0 0px white,
  14px 10px 0 0px white,
  10px 10px 0 0px white;

  top: -20px;
  right: 30px;
}

// ==== Cat page

#orange-cat {
  position: inherit;
  max-width: 611px;
  max-height: 611px;
  width: 100%;
  box-shadow: 12px 8px 0 0px white,
  14px 6px 0 0px $orange,
  14px 10px 0 0px $orange,
  10px 10px 0 0px $orange;
  border-radius: 2000px;
  
  // top: 200px;
  // left: 325px;
}


#pink-cat {
  position: relative;
  max-width: 297px;
  max-height: 359px;
  width: 11em;
  // height: 120%;
  border-radius: 2000px;
  z-index: 2;
  box-shadow: 12px 8px 0 0px $info,
  14px 6px 0 0px white,
  14px 10px 0 0px white,
  10px 10px 0 0px white;

  top: -40px;
  right: 40px;

  //top: -100px;
  // right: 30px;
}

#shiny-guinea {
  position: relative;
  max-width: 224px;
  max-height: 326px;
  width: 11em;
  // height: 120%;
  border-radius: 2000px;
  z-index: 2;
  box-shadow: 12px 8px 0 0px $info,
  14px 6px 0 0px white,
  14px 10px 0 0px white,
  10px 10px 0 0px white;

  top: -40px;
  right: 40px;
}