// html, body {
//     background: pink!important;
//     height: 100vh;
// }
// $primary: #3ec89d;
// $secondary: #3ab7ff;
// $success: #65ff9f;
// $info: #7164ff;
// $warning: #ff9f65;
// $danger: #ff457b;
// $dark: #18181d;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
// $body-color: red;

html, body {
  height: 100vh;
}

.hero-img{
  height: 50px;
  width: 100px;
}