.btn .btn-light {
    
}

.form-btn{
	display: inline-block;
  	padding: .8em 2.5em;
  	border-radius: 50px;
	color: white;
  	margin-top:2rem;
  	font-weight: bold;
  	font-size: 1rem;
  	letter-spacing: 2px;
  	text-transform: uppercase;
  	text-decoration: none;
	background: linear-gradient(to right, rgba(white, 0) 25%, rgba(white, 1) 75%);
	background-position: 1% 50%;
	background-size: 400% 300%;
	border: 1px solid white;
	@include transition;
	
	&:hover{
		color: $primary;
    	color: $primary;
    	background-position: 99% 50%;
	}
}

.btn {
    padding: .8em 2.5em!important;
  	border-radius: 50px!important;
    text-transform: uppercase!important;
  	text-decoration: none!important;
}

// Main wrap
.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

// Button wrap
.container { 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    text-align: center; 
    
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

//default button
.call-btn {
    color: #fff;
    cursor: pointer;
    // display: block;
    font-size:16px;
    font-weight: 400;
    line-height: 45px;
    margin: 0 0 2em;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
        
    // @media(min-width: 600px) {
        
    //   margin: 0 1em 2em;
      
    // }
    
    &:hover { text-decoration: none; }
    
}

.call-btn {
    letter-spacing: 0;
}

.call-btn:hover,
.call-btn:active {
  letter-spacing: 5px;
}

.call-btn:after,
.call-btn:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.call-btn:hover:after,
.call-btn:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.call-btn:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}