
.hero-img{ // this is actually the nav logo
    height: 50px;
    width: 100px;
}
.navbar {
    background: $body-bg!important;
    color: $primary!important;
  }
  
  .nav-item {
    background: $body-bg!important;
    color: $primary!important;
  }
  
  .nav-item.active {
    // background: $body-bg!important;
    // color: pink!important;
    .nav-link{
  
      // border-bottom: 1px solid green;
      // border-width: 80%;
    }
    // padding-bottom: 0px;
    // border-bottom: 1px solid $primary;
  }
  
  .nav-link {
    // background: $body-bg!important;
    color: $primary!important;
  }
  
  .nav-link{
      display: inline-block;
    padding: .5em 1em;
    border-radius: 0;
      //color: #b2876f;
    // margin-top:2rem;
    //font-weight: bold;
    //font-size: 0.678rem;
    //letter-spacing: 2px;
    //text-transform: uppercase;
    text-decoration: none;
      position: relative;
      &:before,
      &:after{
          content: '';
          display: block;
          position: absolute;
          height: 1px;
          width: 0;
  
      }
      &:before{
          transition: width 0s ease,background .4s ease;
          left: 0;
          right: 0;
      bottom: 6px;
      }
      &:after{
          right: 10%;
      bottom: 6px;
      background: $info;
          transition: width .4s ease;
      }
      
      &:hover{
          &:before{
              //width: 97.8%;
        width: 80%;
              background: $info;
          transition: width .4s ease;
          }
          &:after{
              width: 80%;
          background: 0 0;
              transition: all 0s ease;
          }
      }
  }